<p data-sly-test="${wcmmode.edit}">Please configure Asset Gallery Detail component</p>

<sly data-sly-use.galleryDetail="com.media.publication.core.models.AssetGalleryDetailPage">
    <div id="cmp-asset-gallery-detail">
        <h1 class="cmp-asset-gallery__title">${galleryDetail.title}</h1>
        <div class="container cmp-asset-gallery-container">
            <div class="row cmp-asset-gallery-row">
                <div class="col-sm-6">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Asset Type</td>
                                <td>${galleryDetail.data.assetType}</td>
                            </tr>
                            <tr>
                                <td>Owner</td>
                                <td>${galleryDetail.data.assetOwnerName}</td>
                            </tr>
                            <tr>
                                <td>Owner's Email</td>
                                <td>${galleryDetail.data.assetOwnerEmail}</td>
                            </tr>
                            <tr>
                                <td>Download Link</td>
                                <td>
                                    <a href=${galleryDetail.data.assetDownloadLink} download="download">
                                        Download
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="cmp-asset-gallery__back-button">
                        <a class="cmp-button btn btn-primary" href="/content/media-publication/en/asset-gallery.html">OK</a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <img class="cmp-asset-gallery__image" src="${galleryDetail.data.assetImage}" alt="assest image" />
                </div>
            </div>
        </div>
    </div>